* {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(120, 101, 173);
    color: white;
    max-width: 500px;
    margin: 20px auto;

}

header {

    cursor: pointer;
}

.first {
    margin: 10px auto;
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    transition: background 1s;
}

.first:hover {
    background-color: rgb(0, 111, 126);
}

.meme {
    display: none;
}

